.main-component {
    background-color: lightgray;
    height: 87.5vh;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    background-color: lightgray;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.search-box {
    height: 87.5%;
    width: 87.5%;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.start {
    background-color: blue;
}

.final {
    background-color: red;
}

.visited {
    background-color: green;
}

.solution {
    background-color: rgb(57, 232, 173);
}

.obstacle {
    background-color: black;
}