.toolbar-component {
    color: red;
    background-color: black;
    height: 12.5vh;
    display: flex;
    padding-right: 25px;
}

.right-toolbar {
    display: flex;
    align-items: center;
    flex: 1;
}

.left-toolbar {
    display: flex;
    flex: 1;
    justify-content: left;
    align-items: center;
}

.algorithms {
    display: flex;
    justify-content: space-around;
    flex: 3;
}

.reset-button {
    margin-left: 10px;
    display: flex;
    flex: 1;
    margin-right: 10px;
}

.square-type {
    display: flex;
    justify-content: right;
    flex: 1;
}

.search-buttons {
    margin-right: 2vh;
    flex: 1.2;
    justify-content: right;
}

.search--button {
    display: flex;
    justify-content: right;
}