.toolbar-component {
    color: red;
    background-color: black;
    height: 12.5vh;
    display: flex;
}

.right-toolbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.reset-button {
    margin-left: 10px;
    display: flex;
    margin-right: 10px;
}